/* 
  Application Styles
*/
$primary = #900c3f

@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/Poppins-Light.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

a 
  text-decoration none !important

.layout-enter-active, 
.layout-leave-active {
  transition: opacity .3s
}

.layout-enter, 
.layout-leave-active {
  opacity: 0
}

.page-enter-active, 
.page-leave-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: 0.5s;
}

.page-enter, 
.page-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.body {
  color: #5d5d5d;
}

.pr-title
  margin-bottom: 10vh

.pr-desc-line
  font-size: 22px;
  line-height: 46px;


.pf-index-card {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pf-img-hr {
  height: 125px;
  position: absolute;
  width: calc(100%);
  background-color: #6e012b;
  transform: translateY(-50%);
  top: 50%;
}

.pf-img-hr.pf-right {
  width: 40px;
  right: 8px;
}

.pf-portfolio {
  min-height: 100vh;
  padding: 70px 20px;
}

.pf-window-container 
  max-height: 600px;
  min-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;

.pf-window-container::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(255, 255, 255, 1);
  height: 6px;
  padding: 10px 
  margin: 10px
  margin-left: 15px;
  color: #4a4a4a
}
.pf-window-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
  background-color: #dac957;
  margin-left: 5px
}

.pf-content-container
  min-height 90vh
  display flex
  justify-content center 
  align-items center

// button
.pf-educ-container
  min-height 100vh
  padding 35px 0px
  position relative
  background-color #fafafa
  z-index 1

.pf-educ-container:before
  content ""
  position absolute
  top 0px
  left 0px
  width 100%
  height 100%
  background-image url('~assets/images/work.jpg')
  background-size cover
  z-index -1
  opacity 0.2

.pf-educ-container .content-container
  max-height 100vh
  overflow-y scroll

.pf-btn-container
  height 50px

.pf-portfolio-container
  min-height 100vh
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

.pf-footer-container,
.pf-about-me-container
  min-height 70vh
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

.pf-footer-container a
  border: 1px solid #fc0;
  padding: 5px 10px;
  border-radius: 5px;

.pf-img-label
  position absolute
  top 90%
  right -10px
  background-color #262626
  color #fff
  box-shadow 2px 2px 3px 1px #333
  padding 15px




.btn-educ-pointer.active,
.btn-educ-pointer:hover
  border-bottom 1px solid $primary
  transform translateY(-3px)
  transition 0.3s

.btn-educ-pointer
  height 32px
  cursor  pointer
  margin-left 22px
  transition 0.3s
  font-weight: bold;
  font-size: 18px;

.pf-educ-container .btn-educ-pointer:first-child
  margin-left 0px

/* 
  Hepler css
*/

/* fonts */
.f-14 {
  font-size: 14px;
}

.f-12
  font-size 12px


/* displays */
.relative {
  position: relative;
}

/* helper */
.btn-pointer
  cursor pointer

.pf-display-3
  font-size 74px
  line-height 78px

.pf-display-2
  font-size 42px
  line-height 46px

.pf-display-1
  font-size 32px
  line-height 36px

.opc-5
  opacity 0.5

/* animations */
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}


.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}